.topnav {
  overflow: hidden;
  background-color: #363636;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 8px 16px;
  text-decoration: none;
  /* font-size: 17px; */
}

.topnav input {
  width: 6em;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #3d81af;
  color: white;
}

.topnav_right {
  float: right;
}

.topnav_right_search {
  padding-top: 5px;
  padding-right: 5px;
}
