/* Put your styles and imports here */
body {
	margin: 0;
	padding: 0;
	/* font-family: Arial, Helvetica, sans-serif!important; */
	/*font-family: "Times New Roman", Times, serif;*/
}

* {
	--line-height-base: 24px;
	--font-size-title: 1em;
	--color-text-faded: white;
	--color-text-primary: white;
	--color-highlight: #4780ff;
	--color-highlight-border: #dcdcdc;
	--color-border: #2d4867;
	--border-width: 1px;
	--background-color: rgba(255, 255, 255, 0.2);
	--border-radius: 4px;
	--font-size-title: 1.2em;
	--on-focus-input: honeydew;
	/* font-size: 0.98em!important; */
	--background_menu1: #4b6cb7;  /* fallback for old browsers */
	--background_menu2: -webkit-linear-gradient(to top, #4b6cb7, #182848);  /* Chrome 10-25, Safari 5.1-6 */
	--background_menu3: linear-gradient(to top, #4b6cb7, #182848); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}



/*
i.fas,
i.fab {
	font-size: 1.5em;
}*/

