/* Put your styles and imports here */
body {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif!important;
	/*font-family: "Times New Roman", Times, serif;*/
}

* {
	--line-height-base: 15px;
	--font-size-title: 1.1em;
	--color-text-faded: white;
	--color-text-primary: white;
	--color-highlight: #4780ff;
	--color-highlight-border: #dcdcdc;
	--color-border: #2d4867;
	--border-width: 1px;
	--background-color: rgba(255, 255, 255, 0.2);
	--border-radius: 4px;
	--font-size-title: 1.2em;
	--on-focus-input: honeydew;
	/* font-size: 0.98em!important; */
}
/*
i.fas,
i.fab {
	font-size: 1.5em;
}*/

