.root {
	flex: 1;
	overflow: hidden;
}

.link_container{
	text-align: center;
}

.link:hover {
	color: #101c29;
}

.link {
	min-width: 140px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	padding: 18px;
	color: rgb(9, 3, 34);
	box-sizing: border-box;
}

.selected {
	color: lightskyblue;
}
