/* Put your styles and imports here */
body {
	margin: 0;
	padding: 0;
	/* font-family: Arial, Helvetica, sans-serif!important; */
	/*font-family: "Times New Roman", Times, serif;*/
}
/* 
* {
	--grid-base: 2px;
	--font-size-base: .80em;
	--line-height-base: 24px;
	--font-size-title: 0.90em;
	--color-text-faded: white;
	--color-text-primary: white;
	--color-highlight: floralwhite;
	--color-highlight-border: #dcdcdc;
	--color-border: #1d2f44;
	--border-width: 1px;
	--background-color: rgba(255, 255, 255, 0.05);
	--border-radius: 4px;
	--font-size-title: 1.1em;
	--on-focus-input: honeydew;
	
	--background_menu1: #182848; 
	--background_menu2: -webkit-linear-gradient(to top, #4b6cb7, #182848); 
	--background_menu3: linear-gradient(to top, #4b6cb7, #182848); 
}
 */


